.header {
  background: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  color: var(--blue);
  font-size: 4rem;
  font-weight: bold;
}

.header img {
  margin-right: 1.2rem;
}

.header span {
  color: var(--purple-dark);
}